


body{
	background: #e6fffb;
}

ul{
	list-style: none;
}

a.project-items:hover{
	background-color: #2655A5;
}

li.project-items:hover{
	background-color: #2655A5;
}

a.light:hover {
	background-color: #5F49C0;
}

li.light:hover{
	background-color: #5F49C0;
}

a.dark:hover {
	background-color: #5F49C0;
}

li.dark:hover{
	background-color: #5F49C0;
}

.first{
	display:inline-block;
	width: 70%;
}

.second{
	display:inline-block;
	width: 28%;
}

.list-group-item{
	padding-right: 5px;
}

.list-group-item h4{
	margin-bottom: 0;
	margin-top: 5px;
}

.light h1 {
	color: #FFD892;
	text-transform: capitalize;
	text-align: right;
	margin-bottom: auto;
	margin-top: 0;
	font-size: 16pt;
}

.dark h1 {
	color: #FFD892;
	text-transform: capitalize;
	text-align: right;
	margin-bottom: auto;
	margin-top: 0;
	font-size: 16pt;
}

.old-header{
	width: 100% !important;
}


.pager li>a{
	background-color: #5F49C0;
	border:1px solid #FFCA6B;
}

.pager li>a:hover{
	background-color: #7C68D4;
}

.cat{
	text-transform: capitalize;
}

.indicator{
	margin-right: 20px;
	border-width: 10px;
}

.cat-items:hover > .cat-item{
	display: block;
	padding-bottom: 10px;
	background-color: #5F49C0;
}

.cat-item{
	display: none;
}

.cat-items {
	background-color: #638BD0;
	border: none;
	border-radius: 5px;
}

.cat-item li{
	color: #80E1D4;
}

.cat-items h2, h4, h5{
	margin-top: 10px;
	color: white;
}

.content-box{
	background-color: #5F49C0;
	border-radius: 5px;
	margin-bottom: 20px;
	min-height: 100vh;
	height: 100%;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 45px;
}

.content-box hr{
	border-color: #FFCA6B;
	width: 88%;
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
}

.content-box img{
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	display: block;
	padding: 15px;
	padding-bottom: 10px;
	max-height: 93vh;
}

.img-text{
	text-align: center;
	color: #CAC0F5;
}

.justify > .img-text{
	text-align: center;

}

.index-list {
	box-shadow: none;
	border-radius: 0px;
}

.project-list {
	box-shadow: none;
}

.project-list p {
	color: white;
	text-align: justify;
}

.navbar-box{
	padding: 0px;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover{
	color: #FFD892;
}


.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #FFD892;
}


.navbar-custom{
	border-radius: 5px;
	border: none;
	background: #5F49C0;
}

.navbar-right{
	padding-right: 20px;
}

.code{
	display: none;
}

.page-content{
	width: 88%;
}

.page-content p{
	font-size: 12pt;
}

.page-content a{
	color: #FFD892;
}

.project-items {
	background-color: #638BD0;
	border: none;
}

.project-items h2, h4{
	margin-top: 10px;
	color: white;
	border-radius: 5px;
}

.post-items{
	border: none;
	background-color: #638BD0;
}

.light{
	background-color: #8BACE3;
}

.dark{
	background-color: #638BD0;
}

.post-items h2, h4{
	margin-top: 10px;
	color: white;
}

.title{
	padding-top: 5px;
	padding-left: 15px;
}
.justify p {
	text-align: justify;
}
