body{
	background: #e6fffb;
}

ul{
	list-style: none;
}

a.list-group-item:hover {
	background-color: #2655A5;
}

li.list-group-item:hover{
	background-color: #2655A5;
}

.old-header{
	width: 100% !important;
}

.pager li>a{
	background-color: #2655A5;
	border:1px solid #FFCA6B;
}

.pager li>a:hover{
	background-color: #638BD0;
}

.cat{
	text-transform: capitalize;
}

.indicator{
	margin-right: 20px;
	border-width: 10px;
}

.cat-items:hover > .cat-item{
	display: block;
	padding-bottom: 10px;
	background-color: #2655A5;
}

.cat-item{
	display: none;
}

.cat-items {
	background-color: #638BD0;
	border: none;
	border-radius: 5px;
}

.cat-item li{
	color: #80E1D4;
}

.cat-items h2, h4, h5{
	margin-top: 10px;
	color: #80E1D4;
}

.content-box{
	background-color: #638BD0;
	border-radius: 10px;
	margin-bottom: 20px;
	min-height: 100vh;
	height: 100%;
	color: #80E1D4;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 45px;
}

.content-box hr{
	border-color: #80E1D4;
	width: 88%;
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
}

.content-box img{
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	display: block;
	padding: 15px;
	padding-bottom: 10px;
	max-height: 93vh;
}

.img-text{
	text-align: center;
	color: #CAC0F5;
}

.index-list {
	box-shadow: none;
}

.project-list {
	box-shadow: none;
}

.project-list p {
	color: #80E1D4;
}

.navbar-box{
	padding: 0px;
}

.navbar-default .navbar-brand{
	color: #80E1D4;
}

.navbar-default .navbar-nav>li>a{
	color: #80E1D4;
}

.navbar-custom{
	border-radius: 10px;
	border: none;
	background: #638BD0;
}

.navbar-right{
	padding-right: 20px;
}

.page-content{
	text-align: justify;
	width: 88%;
}

.page-content p{
	font-size: 12pt;
}

.page-content a{
	color: #B7F3EB;
}

.project-items {
	background-color: #638BD0;
	border: none;
}

.project-items h2, h4{
	margin-top: 10px;
	color: #80E1D4;
	border-radius: 5px;
}

.post-items {
	background-color: #638BD0;
	border: none;
}

.post-items h2, h4{
	margin-top: 10px;
	color: #80E1D4;
}

.title{
	padding-top: 5px;
	padding-left: 15px;
}