---
---
@import "bootstrap";
@import "colourscheme";

body{
  font-family: 'Open Sans', sans-serif;
  @include gradient-vertical($background-colour, $background-colour-end, 0%, 100%);

  a{
    color: $link-colour;
  }

}

.btn-content{
  @include button-variant($btn-content-colour, $btn-content-bg, $btn-content-border);
}

.container{
  @include make-container();
  @include make-min(100vh);

  max-width: 100%;
}

.landing-project{
  @include make-row();
  @include make-min(100vh);

  .project-header{
    @include make-row();

    @include make-min(100vh);
    background: url('{{ site.baseurl }}/assets/img/landing/projects.jpg') no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;

    .project-card{

      background-color: hsla(0, 0%, 100%, 0.65);

      .card-title{
        font-size: 4em;

      }

      .card-text{
        font-size: 2em;
      }

    }

    .project-buttons{
      @include auto-margins();
      @include clearfix();

      .btn-secondary{
        margin-left: 1.5em;
      }
    }


  }

  .active-projects{
    @include make-row();
    @include make-min(100vh);
    
  }

}

.landing-about{
  @include make-row();
  @include make-min(100vh);

  p, h1{
    color: $landing-text-color;
  }

  .about-content{
    @include make-col();
    @include make-col-offset(1);
    @include make-col-span(10);
    margin-top: 2em;
    margin-bottom: 2em;

    .about-pic{
      @include make-row();

      img{
        @include make-col();
        @include make-col-offset(3);
        @include make-col-span(7);

        border: 3px solid $background-accent;

        @include media-breakpoint-up(lg){
          margin-top: -2.5em;
        }

      }

    }

  }

}

.upper-retina{
  @include make-row();

  background: url('{{ site.baseurl }}/assets/img/landing/background.jpg') no-repeat;
  background-size: cover;


  .retina-header{
    margin-top: 2em;
    @include make-col();
    @include make-col-offset(2);
    @include make-col-span(10);
    @include make-min(100vh);

    .retina-header-text{
      margin-bottom: 1em;
    }

    .landing-cards{

      .card-text{
        margin: .3335em;

      }

      .card{
        @include make-col();
        @include make-col-span(3);
        @include auto-margins();
        min-width: 270px;
        max-width: 300px;
        width: 80%;
        height: 550px;

        @include media-breakpoint-up(md){
            width: 15em;
            margin-left: .25em;
            margin-right: .25em;
        }

        @include media-breakpoint-up(lg){
            margin-left: .75em;
            margin-right: .75em;
            width: 15em;
        }

        .card-text{
          margin-bottom: 2.3em;
        }

        .btn{
          margin-left: .5em;
          margin-right: .5em;
        }

        .resume, .more, .project, .github{
          @include make-col();
          @include make-col-span(5);
          min-width: 30px;
          padding: 7px;

        }

        .blog{
          @include make-col();
          @include make-col-span(5);
          width: 90%;
          min-width: 30px;
        }


        .card-img-top{
          margin-top: 1em;
          width: 100%;
          height: 225px;

        }
      }

    }
  }
}
