---
layout: page
title: "Categories"
nav: true
---
<div class="code">{% increment x %}</div>
<ul class="list-group index-list">
{% assign sorted = site.categories | sort %}
  {% for cat in sorted %}
		{% if x == 0 %} 
		  	<li>
		  		<a href="/{{ cat[0] }}.html" class="list-group-item post-items light">
			  		<div class="first">
			  			<h2> {{ cat[0] | capitalize }} </h2>
			  		</div>
					<div class="second left-padded">
			  			<h4> {{ cat[1].size }} Posts</h4>
			  		</div>
		  		</a>
		  	</li>
		  	<div class="code">{% increment x %}</div>
		{% else %}
			<li>
		  		<a href="/{{ cat[0] }}.html" class="list-group-item post-items dark">
		  			<div class="first">
			  			<h2> {{ cat[0] | capitalize }} </h2>
			  		</div>
					<div class="second left-padded">
			  			<h4> {{ cat[1].size }} Posts</h4>
			  		</div>
		  		</a>
		  	</li>
		  	<div class="code">{% decrement x %}</div>
		{% endif %}
  {% endfor %}
</ul>