---
layout: page
title: "Lucas' Blog and Website"
subtitle: "Sometimes I have a point." 
---
<div class="liquid-liquid-code">{% increment x %}</div>
<ul class="index-list list-group">
  {% for post in site.posts %}
  {% if x == 0 %} 
	  	<li>
			<a href="{{ post.url }}" class="list-group-item post-items light">
				<div class="first">
					<h2>{{ post.title }}</h2>
					<h4><i>{{ post.subtitle }}</i></h4>
					<h4><i>Posted on {{ post.date | date: '%B %d, %Y' }}</i></h4>
				</div>
				<div class="second">
					{% for cat in post.category %}
						<h1> {{ cat | replace: "-", " " }}</h1>
					{% endfor %}
					{% if post.layout == "old-post" %}
						<h1> Old site post</h1>
					{% endif %}
				</div>
			</a>
		</li>
		<div class="liquid-code">{% increment x %}</div>
	{% else %}
		<li>
			<a href="{{ post.url }}" class="list-group-item post-items dark">
				<div class="first">
					<h2>{{ post.title }}</h2>
					<h4><i>{{ post.subtitle }}</i></h4>
					<h4><i>Posted on {{ post.date | date: '%B %d, %Y' }}</i></h4>
				</div>
				<div class="second">
					{% for cat in post.category %}
						<h1> {{ cat | replace: "-", " " }}</h1>
					{% endfor %}
					{% if post.layout == "old-post" %}
						<h1> Old site post</h1>
					{% endif %}
				</div>
			</a>
		</li>
		<div class="liquid-code">{% decrement x %}</div>
	{% endif %}
  {% endfor %}
</ul>