---
layout: page
title: "Cute Stuff"
desc: "This is cutesy posts that are meant to be warm and fuzzy :)."
is-category: true
---
<div class="liquid-code">{% increment x %}</div>
<p>
	{{ page.desc }}
</p>

{% assign sorted = site.categories | sort %}
<ul class="list-group index-list">
  {% for cat in sorted %}
	  	{% if cat[0] == "cute-stuff" %}
			{% for post in cat[1] %}
				 {% if x == 0 %} 
				  	<li>
						<a href="{{ post.url }}" class="list-group-item post-items light">
							<div class="first">
								<h2>{{ post.title }}</h2>
								<h4><i>{{ post.subtitle }}</i></h4>
								<h4><i>Posted on {{ post.date | date: '%B %d, %Y' }}</i></h4>
							</div>
							<div class="second">
								{% for cat in post.category %}
									{% if cat != "cute-stuff" %}
										<h1> {{ cat | replace: "-", " " }}</h1>
									{% endif %}
								{% endfor %}
								{% if post.project %}
									<h1> {{ post.project | replace: "-", " " }} </h1>
								{% endif %}
								{% if post.layout == "old-post" %}
									<h1> Old site post</h1>
								{% endif %}
							</div>
						</a>
					</li>
					<div class="liquid-code">{% increment x %}</div>
				{% else %}
					<li>
						<a href="{{ post.url }}" class="list-group-item post-items dark">
							<div class="first">
								<h2>{{ post.title }}</h2>
								<h4><i>{{ post.subtitle }}</i></h4>
								<h4><i>Posted on {{ post.date | date: '%B %d, %Y' }}</i></h4>
							</div>
							<div class="second">
								{% for cat in post.category %}
									{% if cat != "cute-stuff" %}
										<h1> {{ cat | replace: "-", " " }}</h1>
									{% endif %}
								{% endfor %}
								{% if post.project %}
									<h1> {{ post.project | replace: "-", " " }} </h1>
								{% endif %}
								{% if post.layout == "old-post" %}
									<h1> Old site post</h1>
								{% endif %}
							</div>
						</a>
					</li>
					<div class="liquid-code">{% decrement x %}</div>
				{% endif %}
		  	{% endfor %}	
		{% endif %}		  	
  {% endfor %}
</ul>